doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug
        .cover
            div
                img(src='/logo.png')
        main.container(role='main').h-100
            include ../partial/preferences.pug
            .mb-3
  
            include ../partial/cateringRow.pug
            each catering, index in caterings
                +cateringRow(catering, index)
            each catering, index in caterings
                +cateringRow(catering, index+2)

        include ../partial/footer.pug
        script(src='/nouislider.min.js')
        script(src='/indexScripts.js')