doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/header.pug

        main.container(role='main')
            include ../partial/preferences.pug

            include ../partial/cateringRow.pug
            .row
                .col
                .col
            
            each catering, index in caterings
                +cateringRow(catering, index+2)

        include ../partial/footer.pug
        script(src='/nouislider.min.js')
        script(src='/indexScripts.js')