mixin cateringRow (catering, index)
    .card.mb-1(style='border-radius:10px;').cateringRow
        .card-body(style='border-radius:10px;')
            .row.catering-row(class=`logo${index}`)
                .col-sm-3.mb-1.col-logo.mt-1
                    .logo Dieta pudełowa Elo Melo
                .col-sm-9
                    .row
                        each diet in catering.diets
                            .col
                                table.table
                                    thead
                                        tr
                                            th= diet.type
                                            th
                                    tbody
                                        each caloriesPrice in diet.caloriesPrices
                                            tr
                                                td= caloriesPrice.calories + ' kcal'
                                                td= caloriesPrice.price + ' pln'
                