header
    nav.navbar.navbar-light.bg-light.border-bottom-teal.mb-3
        a.navbar-brand(href='#') Box Ranking
        button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#n')
            span.navbar-toggler-icon
        #n.navbar-collapse.collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='#') Kontakt