header
    nav.navbar.navbar-light.border-bottom-teal.navbar-expand-lg.bg-light
        .container
            a.navbar-brand(href='/').p-0
                img(src='/logo_long.png', style='height: 60px;', alt='logo')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#n',  aria-expanded="false",aria-label="Toggle navigation",style='border: 1px solid #39CCCC;')
                span.navbar-toggler-icon
            #n.navbar-collapse.collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='#') Kontakt
