.card(style='border-radius:10px;')#preferences
    .card-body.text-dark
        .row
            .col-sm.border-right#breakCol
                .row
                    .col.mb-1
                        label(for='cityPicker') Miasto
                        br
                        select#cityPicker.selectpicker(data-live-search='true')
                            each city in cities
                                if urlName && urlName == city.urlName
                                    option(value=city.urlName, selected=true)=city.name
                                else
                                    option(value=city.urlName)=city.name
                    .col.mb-1
                        label(for='typePicker') Typ diety
                        br
                        select#typePicker.selectpicker(multiple)
                            each dietType in dietTypes
                                option(value=dietType, selected=true)=dietType
                .row.mb-1.mt-2
                    .col
                        label(for='daysPicker') Ilość dni w miesiącu
                        br
                        .btn-group.w-100
                            .btn.btn-light.p-2#days20 20
                            .btn.btn-light.p-2#days28 28
            .col-sm
                .row.mt-3.mb-1
                    .col.pl-4.pr-4
                        label(for='#priceRange') Cena za dzień: &nbsp;
                        i#price
                        #priceRange
                .row
                    .col.pl-4.pr-4
                        label(for='#caloriesRange') Ilość kalorii: &nbsp;
                        i#calories
                        #caloriesRange
    .card-footer.p-0
        button.btn.btn-block.bg-light.p-2.text-dark#search(style='font-size:20px;border-radius:  0px 0px 10px 10px;') <span class="icon-search"></span> Wyszukaj 