doctype html
html(lang='pl')
    head
        include ../partial/head.pug
    body
        include ../partial/headerAdmin.pug

        main.container
            h1 Edit city
            .card
                .card-body
                    form(action=`edit/`, method='post')
                        input.form-control(type='hidden', name='id', value=city.id)
                        .form-group 
                            label(for='name') Name
                            input.form-control(type='text', name='name', placeholder='Enter name', value=city.name)
                        button.btn.btn-primary(type='submit') Submit
         
        include ../partial/footer.pug
        