.container {
    max-width:1300px;
}

#preferences{
    border: 1px solid #767676;
}
#breakCol.border-right{
    border-right: 1px solid #767676;
}
#breakCol.border-bottom{
    border-bottom: 1px solid #767676;
}

.noUi-handle {
    margin-top: -7px;
}

label{
    font-size: 20px;
}
#cateringsContainer{
   
}
.catering-row {
    vertical-align: center !important;
    text-align: center;
    padding: 5px;
    color: #545454;
    font-family: 'Courier New', Courier, monospace
}
.col-logo{
    display: table;
    min-height: 150px;
    width:100%;
    margin: 0 auto;
}

.logo {
    font-family:Impact, Charcoal, sans-serif;
    font-size:20px;
    font-weight: bold;
    border-radius: 0px;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
}

.logo0 .logo{
    border: 2px dashed #7FDBFF;
}

.logo1 .logo{
    border: 2px dashed #FF851B
}
.logo2 .logo{
    border: 2px dashed #FFDC00;
}

.logo3 .logo{
    border: 2px dashed #3D9970;
}




.diet-table,
.diet-table table {
    width: 100%;
    text-align: center;
}

.diet-table>tbody>tr {
    border-bottom: 1px solid #e7e5e5;
}

.diet-table>tbody>tr:last-child {
    border-bottom: none;
}

.diet-table>tbody>tr>td>table>tbody>tr>td {
    border-bottom: 1px dotted #cccbcb;
    padding:3px;
}

.diet-table>tbody>tr>td>table>tbody>tr:last-child>td {
    border-bottom: none;
}

.align-middle-my{
    vertical-align: middle !important;
}
.table-cell{
    display: table-cell;
    width: 100%;
}

.dropdown{
    min-width: 100%;
}

.btn-light{
    font-size: 18px;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus,
.noUi-handle:focus,
input:focus{
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.btn-group, .dropdown{
    border: 1px dashed #767676;
    border-radius: 5px;
}
label, .btn{
    color: #444444 !important;
}
